<template>
    <div role="form" justify="center" align="center">
        <form >
            <h1 marginTop="300px" ></h1>
            <div class="form-group">
                <label class="btn btn-primary">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp;Seleccionar un archivo
                    <input type="file" accept=".pdf" @change="onFileSelected" name="myfile">
                </label>
            </div>
        </form>
    </div>
  </template>
  
  <script>
    export default {
        name: "my-component",
        methods: {
            onFileSelected (event) {
               const file = event.target.files[0];
               const formData = new FormData();
               formData.append("my-file", file);
               
              
                  this.$swal.fire({
                  type: "success",
                  title: "Operación exitosa.",
                  text: "El item se guardo correctamente.",
            });
      
            }
        }
    }
  </script>