<template>
    <div>
      <v-card flat>
        <v-card-actions>
          <h1>Creación de Laboratorios</h1>
          <v-spacer></v-spacer>
          <v-btn class="text-none" to="/laboratorios">Ver lista de laboratorios</v-btn>
        </v-card-actions>
  
        <v-form ref="formProduct" v-model="valid" lazy-validation>
          <v-row wrap>
            <v-col cols="4">
              <v-text-field
                v-model="product.nombre"
                label="Nombre"
                :rules="rules.required"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="8">
              <v-text-field
                v-model="product.direccion"
                :rules="rules.required"
                label="Dirección"
                required
              ></v-text-field>
            </v-col>
  
            <v-col cols="6">
              <v-text-field
                v-model="product.telefono"
                :rules="rules.required"
                label="telefono"
                required
              ></v-text-field>
            </v-col>
          </v-row>
  
          <v-btn color="success" @click="saveProduct()">Guardar producto</v-btn>
        </v-form>
      </v-card>
    </div>
  </template>
  
  <script>

  const url = "https://amu-backend.herokuapp.com/laboratorios";
  export default {
    data: () => ({
      valid: true,
      product: {
      },
      categories: ["bueno", "malo", "en mantenimiento"],
      rules: {
        required: [(v) => !!v || "El campo es obligatorio"],
      },
    }),
    beforeMount() {},
  
    methods: {
      /**
       * Enviar una solicitud (Request) en un método post
       * Para guardar el producto
       */
       async saveProduct() {
      if (this.$refs.formProduct.validate()) {
        console.log("-- Inicio guardar producto --");
        let product = Object.assign({}, this.product);
        let response = await this.$axios.post(url, product);
          this.$swal.fire({
            type: "success",
            title: "Operación exitosa.",
            text: "El item se guardo correctamente.",
          });
      } else {
        this.$swal.fire({
          type: "warning",
          title: "Formulario incompleto.",
          text: "Hay campos que deben ser diligenciados.",
        });
      }
    },

    },
  };
  </script>
  
  <style></style>
  