.main_container {
  background: url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40490/vecteezy_background-white_fj1220.jpg");
  background-size: cover;
}
.side_navbar {
  background-color: #4fb993 !important;
  background-size: cover;
  .list_item {
    line-height: 3em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(#fff, 0.35);
    display: block;
    transition: all ease-out 300ms;
  }
}
.top_navbar {
  background-color: #018374 !important;
  .title_container {
    padding-left: 40%;
    text-align: center;
    display: flex;
    p {
      color: white;
      padding-top: 50%;
      text-align: center;
      width: 100%;
    }
  }
}
