<template>
    <div>
      <v-card flat>
        <v-card-actions>
          <h1>Edición de Equipo</h1>
          <v-spacer></v-spacer>
          <v-btn class="text-none" to="/equipos">Ver lista de equipos</v-btn>
        </v-card-actions>
  
        <v-form ref="formProduct" v-model="valid" lazy-validation>
            <v-text-field
            v-model="product._id"
            label="Id"
            :rules="rules.required"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.serie"
            label="Serie"
            :rules="rules.required"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.nombre_especifico"
            :rules="rules.required"
            label="Nombre especifico"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.nombre_generico"
            :rules="rules.required"
            label="Nombre generico"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.marca"
            :rules="rules.required"
            label="Marca"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.modelo"
            :rules="rules.required"
            label="Modelo"
            required
          ></v-text-field>
          <v-text-field
            v-model="product.fecha_ultima_actividad"
            :rules="rules.required"
            label="Fecha"
            required
          ></v-text-field>
          <v-select
            v-model="product.estado"
            :rules="rules.required"
            :items="categories"
            label="Estado"
            required
          ></v-select>
          <v-btn color="success" @click="updateProduct()">Modificar producto</v-btn>
        </v-form>
      </v-card>
    </div>
  </template>
  
  <script>
  export default {
    async asyncData({ params }) {
      let id_product = params.id;
      return { id_product };
    },
  
    data: () => ({
      valid: true,
      product: {},
      categories: ["bueno", "malo", "en mantenimiento"],
      rules: {
        required: [(v) => !!v || "El campo es obligatorio"],
      },
    }),
    beforeMount() {
      this.getProduct();
    },
  
    methods: {
      /**
       * Enviar una solicitud (Request) en un método get
       * Para obtener un solo producto dado el código
       */
      async getProduct() {
        // try {
        //   //
        console.log(this.id_product)
        let response = await this.$axios.get("https://amu-backend.herokuapp.com/equipos/" + this.id_product);
        console.log(response)
        this.product = response.data;
        // } catch (error) {
        //   this.$swal
        //     .fire({
        //       type: "error",
        //       title: "Oops...",
        //       text: "El producto no existe o hubo un error cargandolo.",
        //       allowEscapeKey: false,
        //       allowOutsideClick: false,
        //     })
        //     .then((result) => {
        //       if (result.value) {
        //         this.$router.push("/equipos");
        //       }
        //     });
        // }
      },
  
      /**
       * Enviar una solicitud (Request) en un método update
       * Para modificar el producto
       */
      async updateProduct() {
        if (this.$refs.formProduct.validate()) {
          // Crear un nuevo objeto con la info del producto
          try {
          let product = Object.assign({}, this.product);
          let url = "https://amu-backend.herokuapp.com/equipos/" + this.id_product;
          let { data } = await this.$axios.put(url,product);
          this.$swal.fire({
              type: "success",
              title: "Operación exitosa.",
              text: "El item se actualizo correctamente.",
            });
            
          } catch (error) {
            this.$swal.fire({
              type: "error",
              title: "Error al modificar.",
              text: data.message,
            });
          }
        } else {
          this.$swal.fire({
            type: "warning",
            title: "Formulario incompleto.",
            text: "Hay campos que deben ser diligenciados.",
           });
        }

        let url = `/equipos/`;
        this.$router.push(url);

      },
    },
  };
  </script>
  
  <style></style>
  