<template>
  <v-app>
    <!--Menu hamburguesa-->
    <v-navigation-drawer v-model="openMenu" fixed app class="side_navbar">
      <v-list>
        <v-list-item
          v-for="item in items"
          :key="item.id"
          :to="item.to"
          router
          exact
          class="list_item"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!--Barra de navegación superior-->
    <!-- -->
    <v-app-bar :clipped-left="clipped" fixed app class="top_navbar">
      <!--Icono que controla el menú hamburguesa-->
      <v-app-bar-nav-icon @click.stop="openMenu = !openMenu" />
      <div class="title_container">
        <p>AMU</p>
      </div>
    </v-app-bar>
    <v-main class="main_container">
      <Nuxt />
    </v-main>
  </v-app>
</template>

<style src="../assets/styles/defaultStyles.scss" lang="scss"></style>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      openMenu: false,
      items: [
        {
          id: "home",
          icon: "mdi-home",
          title: "Inicio",
          to: "/",
        },
        {
          id: "equipos",
          icon: "mdi-laptop ",
          title: "Equipos",
          to: "/equipos",
        },
        {
          icon: "mdi-compost ",
          title: "Laboratorios",
          to: "/laboratorios",
        },
        {
          icon: "mdi-calendar",
          title: "Eventos",
          to: "/eventos",
        },
        {
          icon: "mdi-home",
          title: "Certificados",
          to: "/certificados",
        },
      ],
      title: "Vuetify.js",
    };
  },
};
</script>
