import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
<template>
  <div class="main_div">
    <div class="inner_main_div">
      <v-row justify="center" align="center">
        <v-col cols="12" sm="6" md="6">
          <h1 class="welcome_text">BIENVENIDOS A AMU</h1>
          <p>Texto descriptivo de Emu</p>
        </v-col>
        <v-col cols="12" sm="6" md="6">
          <img src="../assets/images/landingImage.png" alt="Science & tech" />
        </v-col>
      </v-row>
      <v-row justify="center" align="center">
        <div class="section_boxes">
          <div class="section_box">
            <span>
              <img
                src="https://freepngimg.com/download/laptop/162431-laptop-vector-notebook-png-free-photo.png"
                alt="Imagen de equipos"
              />
            </span>
            <p>
              Información acerca de los equipos de importancia en el
              laborataorio
            </p>
          </div>
          <div class="section_box">
            <span>
              <img
                src="../assets/images/labIcon.png"
                alt="Imagen de laboratorio"
              />
            </span>
            <p>Información específica acerca de los laboratorios</p>
          </div>
          <div class="section_box">
            <span>
              <img
                src="../assets/images/eventsImage.png"
                alt="Imagen de laboratorio"
              />
            </span>
            <p>
              Información importante sobre eventos pendientes por realizar y
              eventos que ya fueron ralizadas previamente
            </p>
          </div>
        </div>
      </v-row>
    </div>
  </div>
</template>

<style src="../assets/styles/mainStyle.scss" lang="scss"></style>
<script>
export default {
  name: "IndexPage",
};
</script>
