<template>
    <div>
      <v-card flat>
        <v-card-actions>
          <h1>Edición de Eventos</h1>
          <v-spacer></v-spacer>
          <v-btn class="text-none" to="/eventos">Ver lista de Eventos</v-btn>
        </v-card-actions>
  
        <v-form ref="formProduct" v-model="valid" lazy-validation>
            <v-row wrap>
                <v-col cols="4">
                  <v-text-field
                    v-model="product.agendada"
                    label="Agendada"
                    :rules="rules.required"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="8">
                  <v-text-field
                    v-model="product.estado"
                    :rules="rules.required"
                    label="Estado"
                    required
                  ></v-text-field>
                </v-col>
      
                <v-col cols="6">
                  <v-text-field
                    v-model="product.fecha_agendada"
                    :rules="rules.required"
                    label="Fecha Agendada"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="product.tipo_evento"
                    :rules="rules.required"
                    label="Tipo evento"
                    required
                  ></v-text-field>
                </v-col>
      
                <v-col cols="6">
                  <v-text-field
                    v-model="product.codigo_equipo"
                    :rules="rules.required"
                    label="Código equipo"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="product.codigo_laboratorio"
                    :rules="rules.required"
                    label="Código laboratorio"
                    required
                  ></v-text-field>
                </v-col>
                
              </v-row>
          
          <v-btn color="success" @click="updateProduct()">Modificar eventos</v-btn>
        </v-form>
      </v-card>
    </div>
  </template>
  
  <script>
  export default {
    async asyncData({ params }) {
      let id_product = params.id;
      return { id_product };
    },
  
    data: () => ({
      valid: true,
      product: {},
      rules: {
        required: [(v) => !!v || "El campo es obligatorio"],
      },
    }),
    beforeMount() {
      this.getProduct();
    },
  
    methods: {
      /**
       * Enviar una solicitud (Request) en un método get
       * Para obtener un solo producto dado el código
       */
      async getProduct() {
        // try {
        //   //
        console.log(this.id_product)
        let response = await this.$axios.get("https://amu-backend.herokuapp.com/eventos/" + this.id_product);
        console.log(response)
        this.product = response.data;
        // } catch (error) {
        //   this.$swal
        //     .fire({
        //       type: "error",
        //       title: "Oops...",
        //       text: "El producto no existe o hubo un error cargandolo.",
        //       allowEscapeKey: false,
        //       allowOutsideClick: false,
        //     })
        //     .then((result) => {
        //       if (result.value) {
        //         this.$router.push("/equipos");
        //       }
        //     });
        // }
      },
  
      /**
       * Enviar una solicitud (Request) en un método update
       * Para modificar el producto
       */
      async updateProduct() {
        if (this.$refs.formProduct.validate()) {
          // Crear un nuevo objeto con la info del producto
          try {
          let product = Object.assign({}, this.product);
          let url = "https://amu-backend.herokuapp.com/eventos/" + this.id_product;
          let { data } = await this.$axios.put(url,product);
          this.$swal.fire({
              type: "success",
              title: "Operación exitosa.",
              text: "El item se actualizo correctamente.",
            });
            
          } catch (error) {
            this.$swal.fire({
              type: "error",
              title: "Error al modificar.",
              text: data.message,
            });
          }
        } else {
          this.$swal.fire({
            type: "warning",
            title: "Formulario incompleto.",
            text: "Hay campos que deben ser diligenciados.",
           });
        }

        let url = `/eventos/`;
        this.$router.push(url);

      },
    },
  };
  </script>
  
  <style></style>
  