<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <v-card flat>
        <v-card-actions>
          <h1>Eventos</h1>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            to="/eventos/creacion"
            color="#4fb993"
            style="color: white"
            >Crear Eventos</v-btn
          >
        </v-card-actions>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="products"
            :items-per-page="5"
            class="elevation-1"
          >
            <template v-slot:item.actions="{ item }">
              <v-icon class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
              <v-icon class="mr-2" @click="deleteProduct(item)">
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { delay } from "q";

const url = "https://amu-backend.herokuapp.com/eventos";

export default {
  beforeMount() {
    this.getProducts();
  },

  data() {
    return {
      headers: [
        { text: "Agendada", value: "agendada" },
        { text: "Estado", value: "estado" },
        { text: "Fecha Agendada", value: "fecha_agendada" },
        { text: "Tipo Evento", value: "tipo_evento" },
        { text: "Codigo Equipo", value: "codigo_equipo" },
        { text: "Codigo Laboratorio", value: "codigo_laboratorio" },
        { text: "Acción", value: "actions" },
      ],
      products: [],
      dialogFiles: false,
      productSelected: "",
    };
  },
  methods: {
    /**
     * Enviar una solicitud (Request) en un método get
     * Para consultar todos los productos
     */
    async getProducts() {
      try {
        let response = await this.$axios.get(url);
        console.log(response);
        this.products = response.data;
      } catch (error) {
        this.products = [];
        console.error(error);
      }
    },
    /**
     * Enviar el producción a edición
     * /products/id
     */
    editItem(item) {
      let url = `/eventos/${item._id}`;
      this.$router.push(url);
    },
    /**
     * Eliminar un producto
     */

    async deleteProduct(item) {
      let url = "https://amu-backend.herokuapp.com/eventos/" + item._id;
      await this.$axios.delete(url);
      this.$swal.fire({
        type: "success",
        title: "Operación exitosa.",
        text: "El item se eliminó correctamente.",
      });
      delay(1000000);
      window.location.reload();
    },

    // this.$swal
    // .fire({
    //   type: "warning",
    //   title: "¿Está seguro de eliminar el item?",
    //   text: "Al borrar el item no se prodrá recuperar.",
    //   allowEscapeKey: false,
    //   allowOutsideClick: false,
    //   showCancelButton: true,
    // })
    //  async (result) => {
    //     if (result.value) {
    //       try {
    //         console.log("me quieren")
    //         let url = "http://localhost:3001/equipos/" +item._id;
    //         await this.$axios.delete(url);
    //         // this.$swal.fire({
    //         //   type: "success",
    //         //   title: "Operación exitosa.",
    //         //   text: "El item se eliminó correctamente.",
    //         // });
    //         this.getProducts();
    //       } catch (error) {
    //         // this.$swal.fire({
    //         //   type: "error",
    //         //   title: "Ha ocurrido un problema al eliminar",
    //         //   text: error.toString(),
    //         // });
    //       }
    //     }
    //   }
    //);
  },

  /**
   * Método para abrir el componente de subir archivos
   */
  openDialogFiles(item) {
    this.productSelected = item;
    this.dialogFiles = true;
  },
};
</script>
